<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>

                <li class="mm-active">
                    <a href="chat.html" class="waves-effect active">
                        <i class="bx bx-home"></i>
                        <span key="t-chat">Início</span>
                    </a>
                </li>

                <li class="mm-active">
                    <a href="chat.html" class="waves-effect active">
                        <i class="bx bx-chat"></i>
                        <span key="t-chat">Criar dimensionamento</span>
                    </a>
                </li>



                <li class="mm-active">
                    <a href="chat.html" class="waves-effect active">
                        <i class="bx bx-chat"></i>
                        <span key="t-chat">Menu</span>
                    </a>
                </li>

                <li class="mm-active">
                    <a href="chat.html" class="waves-effect active">
                        <i class="bx bx-chat"></i>
                        <span key="t-chat">Central de ajuda</span>
                    </a>
                </li>

               

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->