 * {
        margin: 0;
        padding: 0;
    }

    *,
    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }



    .check-card {
        list-style: none;
        margin: auto;
        width: 100%;
		margin-left:-3px; 
    }

    .check-card .check-card-item {
        position: relative;
        width: 100%;
        margin: 0 1% 15px;
        font-size: 18px;
        font-family: 'Open Sans',sans-serif;
        background: #dde2fa;
        overflow: hidden;
    }

    .check-card li label {
        display: block;
        position: absolute;
        height: 300px;
        width: 100%;
        z-index: 100;
        cursor: pointer;
    }

    .check-card .check-card-body {
        height: 300px;
        color: #fff;
        z-index: 2;
        position: relative;
    }

    .check-card .check-card-body-in {
        padding: 20px 20px 20px;

    }

    .check-card .check-card-title {
       
        font-size: 26px;
        margin-bottom: 5px;
    }

    .check-card .check-card-bg,
    .check-card .check-card-toggle {
        position: relative;
 
        width: 40px;
        height: 40px;
        top: 10px;
        left: 10px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
		
    }

    .check-card .check-card-bg {
        position: absolute;
        background: #556ee6;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
        -webkit-transform: scale(1);
        transform: scale(1);
        z-index: 0;
    }

    .check-card .check-card-toggle span {
        position: absolute;
        display: block;
        width: 20px;
        margin-left: -10px;
        height: 1px;
        top: 50%;
        left: 50%;
        background: #fff;

        -webkit-transition: all .4s ease-out;
        transition: all .4s ease-out;

        -webkit-transform: rotate(-270deg);
        transform: rotate(-270deg);
    }

    .check-card .check-card-toggle span:first-child {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .check-card .check-card-cancel {
        font-size: 19px;
        font-family: 'Open Sans',sans-serif;
        border-top: solid 1px #000000;
        border-bottom: solid 1px #000000;
        padding: 5px 0 2px;
        text-align: center;
        position: absolute;
		line-height: 44px;
        bottom: -45px;
        margin: 0 7%;
        width: 86%;
        -webkit-transition: all .3s cubic-bezier(0.5, -0.8, 0.5, 1.8);
        transition: all .3s cubic-bezier(0.5, -0.8, 0.5, 1.8);
    }

    .check-card input[type=checkbox] {
        display: none;
    }

    .check-card input[type=checkbox]:checked~.check-card-body .check-card-toggle span {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .check-card input[type=checkbox]:checked~.check-card-body .check-card-toggle span:first-child {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .check-card input[type=checkbox]:checked~.check-card-bg {
        -webkit-transform: scale(25);
        transform: scale(25);
    }

    .check-card input[type=checkbox]:checked~.check-card-body .check-card-cancel {
        bottom: 10px;
    }